html, body {
  height: 100%;
  background: #2A2B47;
  font-family: Rubik;
  margin: 0;
}

a {
  text-decoration: none;
  color: #EEE;
}
.site-header { 
  /* border-bottom: 1px solid #ccc; */
  padding: .5em 1em;
}

.site-header::after {
  content: "";
  display: table;
  clear: both;
}

.site-identity {
  float: left;
}

.site-identity h1 {
  font-size: 1.5em;
  margin: .7em 0 .3em 0;
  display: inline-block;
}

.site-identity img {
  max-width: 20rem;
  float: left;
  margin: 0 10px 0 0;
}

.site-navigation {
  float: right;
  font-size: 2em;
}

.site-navigation ul, li {
  margin: 0; 
  padding: 0;
}

.site-navigation li {
  display: inline-block;
  margin: 0.3em 0.3em 0.3em 0.3em;
}

/* svg { */
/*   height: 10rem; */
/*   width: 10rem; */
/* } */

#butterfly {
  /* width: 50rem; */
  height: 10rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  display: flex;
  margin-top: 30rem;
  margin-bottom: auto;
  align-items: center;
  justify-content: center;
}

#topology {
  height: 40rem;
  width: 40rem;
}

#butterfly > svg {
  height: 30rem;
  width: 30rem;
  overflow: visible;
}

