/*  ===========
    Variables
    ===========  */

:root {
  /* colors */
  --light-grey: #f5f5f3;
  --purple: linear-gradient(150deg, #8753CB 0%, #643C98 40%);
  --text-color: #EEEEEE;
  --bg-gradient: linear-gradient(150deg, #3A2B47 0%, #1A1B27 40%);

  /* font sizes */
  --fs-400: 1.4rem;
  --fs-500: 1.6rem;
  --fs-600: clamp(3.2rem, 4vw, 6rem);
}

@media (min-width: 600px) {
  :root {
    --fs-400: 1.2rem;
    --fs-500: 1.6rem;
  }
}

/*  ===========
    Reset
    ===========  */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  /* font-size: 62.5%; */
  max-width: 100%;
  overflow: hidden; /* Hide scrollbars */
}


ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/*  ===========
    Layout
    ===========  */

body {
  margin: 0;
  font-family: Rubik;
  font-size: var(--fs-400);
  font-weight: 700;
  background-image: var(--bg-gradient); 
  color: var(--text-color);
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  /* max-width: 180rem; */ 
  margin: 0 auto;
  /* padding: 0 3rem; */
}

@media (min-width: 600px) {
  .container {
    padding: 4rem 4rem;
  }
}

/*  ===========
    Components
    ===========  */

.primary-button {
  min-height: 3em;
  padding: 1em 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  white-space: nowrap;
  cursor: pointer;
}

.primary-button {
  color: var(--light-grey);
  background: var(--purple);
}

/*  ===========
    Header
    ===========  */

nav {
  height: 10rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a img {
  max-width: 20rem;
  display: block;
}

.logo,
.mobile-nav,
li {
  cursor: pointer;
  max-width: 100%;
  display: block;
}


.logo,
.primary-nav,
.login-nav,
.mobile-nav {
  opacity: 0;
  transform: translateY(2rem);
  animation: returnToOrigin 0.3s ease-out forwards;
}

.logo {
  color: var(--purple);
  font-weight: 700;
  animation-delay: 0.5s;
  max-width: 30rem;
  float: left;
  margin: 0 10px 0 0;
}

.mobile-nav {
  height: 1.4rem;
  animation-delay: 0.6s;
}

.primary-nav {
  animation-delay: 0.6s;
}

.login-nav {
  animation-delay: 0.7s;
  display: flex;
  align-items: center;
}

@media (min-width: 600px) {
  .mobile-nav {
    height: 1.6rem;
  }
}

@media (min-width: 900px) {
  nav {
    height: 8rem;
  }

  .mobile-nav {
    display: none;
  }

  .login-nav,
  .primary-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.5rem;
  }
}

/*  ===========
    Main
    ===========  */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 0 3rem;
}

#tagline {
  font-size: 3em !important;
  font-weight: 300 !important;
  margin: 0 0 15rem;
  padding: 1rem 2rem 3rem 4rem;
  color: #EEE;
  align-self: center;
  justify-content: center;
  display: flex;
  text-align: center;
}

#tagline h1 {
  font-weight: 700;
}

#graphics {
  height: 10rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  display: flex;
  margin-bottom: auto;
  align-items: center;
  justify-content: center;
}

#nodes_svg {
  width: 160rem;
  overflow: visible;
  position: relative;
}

#graph {
  position: absolute;
  overflow: hidden;
  width: 160rem;
}

.main-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
}

.main-image,
.main-content h1,
.main-content p,
.main-button {
  opacity: 0;
  animation: returnToOrigin 0.5s ease-out forwards;
}

.main-content h1,
.main-content p {
  transform: translateY(2rem);
}

@media (min-width: 900px) {
  main {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 4rem;
    flex-direction: column;
    justify-content: center;
  }
}

/*  ===========
    Footer
    ===========  */

footer {
  width: 100%;
  height: 4rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.footer-links,
.footer-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  opacity: 0;
  transform: translateY(2rem);
  animation: returnToOrigin 0.3s ease-out forwards;
}

.footer-links {
  text-align: center;
  animation-delay: 1.7s;
}

.footer-socials {
  animation-delay: 1.6s;
}

.footer-socials img {
  height: 1.6rem;
}

@media (min-width: 900px) {
  footer {
    height: 15rem;
    flex-direction: row;
    justify-content: center;
  }

  .footer-socials {
    order: 2;
    animation-delay: 1.7s;
  }

  .footer-socials img {
    height: 1.8rem;
  }

  .footer-links {
    animation-delay: 1.6s;
  }
}

/*  ===========
    Animations
    ===========  */

@keyframes returnToOrigin {
  to {
    transform: translate(0);
    opacity: 1;
  }
}
