html, body {
  height: 100%;
  background: #2A2B47;
}

#figures {

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  justify-content: center;
}

 svg {
  height: 10rem;
  width: 10rem;
}

#butterfly {
  display: flex;
  margin-top: 40rem;
  margin-bottom: auto;
  align-items: center;
  justify-content: center;
}

#butterfly > svg {
  height: 100%;
  width: 100%;
  overflow: visible;
}

#templates {
  display: grid;
  gap: 5rem;
  grid-template-columns: 1fr 1fr;

  padding: 1rem;
  outline: 3px solid rgba(0, 0, 0, .1);
}

#templates > .template > div {
  position: relative;
  display: flex;
  justify-content: center;
}

#result {
  display: flex;
  align-items: center;
  justify-content: center;
}

#result > svg {
  height: 20rem;
  width: 20rem;
  overflow: visible;
}
