html, body {
  height: 100%;
  background: #2A2B47;
}

/* svg { */
/*   height: 10rem; */
/*   width: 10rem; */
/* } */

#butterfly {
  /* width: 50rem; */
  height: 10rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  display: flex;
  margin-top: 30rem;
  margin-bottom: auto;
  align-items: center;
  justify-content: center;
}

#topology {
  height: 40rem;
  width: 40rem;
}

#butterfly > svg {
  height: 30rem;
  width: 30rem;
  overflow: visible;
}

